body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
    background-color: bisque;
    display: grid ;
    
}
button {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 10px;
    
}


#output {
    font-size: 18px;
    margin-top: 10px;
}